@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.review-header {
    font-family: 'Roboto', sans-serif;
}

.review {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media only screen and (max-width: 1200px) {
    .review {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 992px) {
    .review {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .review {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 576px) {
    .review {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .review {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 450px) {
    .review {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 390px) {
    .review {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 340px) {
    .review {
        grid-template-columns: repeat(1, 1fr);
    }
}